*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    background: #000;
    display: grid;
    place-items: center;
}



.outer_container {
    position: absolute;
    display: flex;
    width: 39.375rem;
    height: 37.5rem;
    align-items: center;
}

.inner_container1 {
    width: 18.75rem;
    height: 34.375rem;
    display: inline-block;
}

.name_box {
    background-color: #ccd5ae;
    width: 18.75rem;
    height: 12.5rem;
    border-radius: 0% 1.25rem 0% 1.25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.projects_box {
    background-color: #2d6a4f;
    width: 18.75rem;
    height: 20rem;
    border-radius: 1.25rem 0% 1.25rem 1.25rem;
    bottom: 0%;
    margin-top: 1.875rem;
}

.inner_container2 {
    background-color: #748cab;
    border: 1.25rem;
    border-style: solid;
    border-color: #7f5539;
    width: 18.75rem;
    height: 34.375rem;
    border-radius: 1.25rem;
    margin-left: 1.875rem;
    text-align: center;
}

.name {
    font-family: 'Sacramento';
    font-size: 5rem;
    margin: auto;
}

.projects {
    font-family: 'Sacramento';
    font-size: 2.5rem;
    color: white;
    width: 5.313rem;
    padding-top: 0.625rem;
    padding-left: 0.625rem;
    margin-bottom: 0%;
}

.profile {
    width: 13.75rem;
    border-radius: 5% 40% 5% 5%;
    margin-top: 8%;
}

.intro {
    font-family: 'Rochester';
    width: 15.625rem;
    font-size: 1.563rem;
    margin: 2%;
}

u {
    text-decoration: underline #39FF14;
}

/* button */

.buttons {
    width: 110px;
    height: 40px;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
}  
  
.buttons:active {
    transform: translate(0);
    box-shadow: none;
}

.carousel-item {
    width: 275px;
    height: 275px;
    text-align: center;
    margin: auto;
}

.song {
    color: #000;
}

/* Media Queries */

/* For Desktops */
@media only screen and (min-width: 1024px) {

    body{
        height: 100vh;
        background: #000;
        display: grid;
        place-items: center;
        cursor: none;
    }
    
    .buttons {
        font-size: 20px;
    }

    /*Cursor Start*/
    [class^="cursor"]{
        position: fixed;
        top: 0;
        left: 0;
        transform: translate(-50%,-50%);
        border-radius: 50%;
        z-index: 9999;
        pointer-events: none;
    }
    .cursor-outer{
        width: 50px;
        height: 50px;
        border: 1px solid #fff;
        transition: all .08s ease-out;
    }
    .cursor-inner{
        width: 7px;
        height: 7px;
        background: #fff;
    }
    .content:hover ~ .cursor-outer{
        width: 90px;
        height: 90px;
        background: #fff;
        mix-blend-mode: difference;
    }
    .content:hover ~ .cursor-inner{
        opacity: 0;
    }
    /* Cursor end */

    .song {
        display: none;
    }

    .intro {
        margin-top: 20px;
        margin-bottom: 10px;
        line-height: 30px;
    }
}

/* For Phones */
@media only screen and (max-width: 767px) {
    
    body {
        height: 100vh;
        max-width: 100%;
    }

    .outer_container {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 360px;
        height: 100%;
        margin-top: 30px;
    }

    .inner_container2 {
        margin: 30px 0% 30px 0%;
    }

    .intro {
        line-height:25px;
    }

    .buttons {
        margin: 2%;
        font-size: 20px;
        text-align: center;
        align-items: center;
    }

    .buttons_box {
        margin-bottom: 3%;
    }

    .song {
        width: 300px;
        height: 300px;
        background-color: black;
        color: #000;
    }


}